### Xcode Project Files ###

# Build Artifacts (archivos generados por la compilación)
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.xcactivitylog
*.xcscheme
*.xcworkspace/xcuserdata/
!default.xcscheme
*.hmap
*.ipa
*.dSYM
*.DS_Store

# Directorios de Archivos Temporales de Xcode
DerivedData/

# Carpeta de Archivos de Archivo de Proyectos (ej. para distribución)
ArchiveIntermediates/

# Archivos específicos de usuario de Xcode (cambian constantemente)
*.xcodeproj/xcuserdata/
*.xcstickers/xcuserdata/

# Swift Package Manager
.swiftpm/build/

# Archivos de caché del precompilador
.xcodesign
.xcdebugger

# Archivos de caché del simulador (si están en el proyecto)
.Apple.LocalLibraries
.Apple.LocalSharedLibraries

### Dependencias y Herramientas ###

# CocoaPods (si usas)
Pods/
.bundle

# Carthage (si usas)
Carthage/Build

# fastlane (si usas)
fastlane/report.xml
fastlane/test_output

# SwiftLint (Archivos temporales)
.swiftlint.yml.tmp

### macOS System Files ###

# Archivos del sistema macOS
.DS_Store
.Trashes
Icon
.DS_Store
iOS-course.xcodeproj/project.xcworkspace/xcuserdata/sebastianlopezmazo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
